.shouhuan4-index .section .img-items,
.shouhuan4-index .section {
margin: 0 auto;
width: 80%;
}

.shouhuan4-index .img-items{
display: block;
}

.shouhuan4-index .items-shouhuan-1{
height:0;
padding-bottom:140%
}

.shouhuan4-index .items-shouhuan-2{
height:0;
padding-bottom:122%
}

.shouhuan4-index .items-shouhuan-3{
height:0;
padding-bottom:104%
}

.shouhuan4-index .items-shouhuan-4{
height:0;
padding-bottom:100%
}

.shouhuan4-index .items-shouhuan-5{
height:0;
padding-bottom:78%
}

.shouhuan4-index .items-shouhuan-6{
height:0;
padding-bottom:70%
}

.shouhuan4-index .items-shouhuan-7{
height:0;
padding-bottom:97%
}

.shouhuan4-index .items-shouhuan-8{
height:0;
padding-bottom:62%
}

.shouhuan4-index .items-shouhuan-9{
height:0;
padding-bottom:89%
}

.shouhuan4-index .items-shouhuan-10{
height:0;
padding-bottom:29%
}

.shouhuan4-index .items-shouhuan-11{
height:0;
padding-bottom:70%
}

.shouhuan4-index .items-shouhuan-12{
height:0;
padding-bottom:107%
}

.shouhuan4-index .items-shouhuan-13{
height:0;
padding-bottom:100%
}

.shouhuan4-index .items-shouhuan-14{
height:0;
padding-bottom:192%
}


